.img-left{
    float: left;
}
@media(min-width: $breakpoint-md){
    .img-left-md{
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius:8px;
        box-shadow: 3px 3px 8px 0px #000;
    }
}